.contacts-list-img {
    height: 40px !important;
}

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

$custom-file-text: (
    pt-br: "Teste"
);

.materias {
    border: 1px solid #ccc;
    height: 270px;
    width: 230px;
    background: white;
    background-clip: border-box;
    word-wrap: break-word;

    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    .materias-header {
        background: rgba(0, 0, 0, 0.04);
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .materias-body {
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    .materias-footer {
        background: rgba(0, 0, 0, 0.04);
        padding: 0.75rem 1.25rem;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    &:hover{
        box-shadow: 2px 2px 5px rgb(33, 175, 33, 0.75);
    }
}
