.circle{
	border-radius: 50%;
}
.notificacao-img{
	width: 55px;
	height: 55px;
}
.notificacao-area p{
	font-size: 12px;
}
.notificacao-area .icon-minutes{
	font-size: 10px;
	margin-left: 14px;
}
.tag-novo{
	position: absolute;
	transform: rotate(35deg);
	top: 3px;
	right: -5px;
}
.footer{
	background-color: #404b83 !important;
	max-width: 100%;
	height: 120px;
}
.float-right{
    float: right !important;
}

.btn-acoes-rapidas-home{
	display: inline-block;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-acoes-rapidas-home:hover{
	background-color: #6cb2eb;
	text-decoration: none;
	color: #ffffff;
}
.notifica .rodape{
	padding: 5px;
    border-top: 1px solid #ccc;
    text-align: center !important;
}
.notifica .header{
	padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center !important;
}
.notifica-item{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.notifica-item .texto{
	color: #6c757d!important;
}
.notifica-item:hover .texto{
	color: #ffffff !important;
}
.notifica-item:hover{
	background-color: #404b83;
	color: #ffffff !important;
	text-decoration: none;
	cursor: pointer;
}
.notifica-item:hover img{
    border: 2px solid #404b83;
}

.info-aluno table{
	width: 100%;
    border-collapse: collapse;
}
.form-busca-menu{
    background-color: #eee;
    color: #404b83;
    font-weight: bold;
    font-size: 16px;
}
.form-busca-menu::placeholder{
    color: #404b83;
}

.asterisco{
	color: red;
	font-size: 14px;
}
