/*
*
*style navbar e itens
*/

.navbar {
    background-color: #404b83 !important;
}
 .navbar .navbar-brand {
    color: #e7daea !important;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #212529 !important; 
    font-weight: bold;
}
.navbar .navbar-text {
    color: #e7daea !important;
} 
.navbar .navbar-text a {
    color: #212529 !important; 
    font-weight: bold; 
} 
.navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
    color: #212529 !important; 
    font-weight: bold;
} 
.navbar .navbar-nav .nav-link {
    color: #e7daea !important;
    border-radius: .25rem !important;
    margin: 0 0,25 !important;
} 
.navbar .navbar-nav .nav-link:not (.disabled):hover, .navbar .navbar-nav .nav-link:not (.disabled):focus {
    color: #212529 !important; 
    font-weight: bold;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #e7daea !important;
} 
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #f7f7f7 !important;
} 
.navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.active.nav-link:focus, .navbar .navbar-nav .nav-item.mostrar .nav-link, .navbar .navbar-nav .nav-item.mostrar .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #212529 !important; 
    font-weight: bold; 
    background-color: #f7f7f7 !important;
} 
.navbar .navbar-toggle {
    border-color: #f7f7f7 !important;
} 
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: #f7f7f7 !important;
} 
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #e7daea !important;
} 
.navbar .navbar-colapso, .navbar .navbar-form {
    border-color: #e7daea !important;
} 
.navbar .navbar-link {
    color: #e7daea !important;
}
.navbar .navbar-link:hover {
    color: #212529 !important; 
    font-weight: bold; 
} 
@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #e7daea !important; 
    } 
    .navbar-expand-sm .navbar-nav .mostrar .dropdown-menu .dropdown-item:hover,.navbar-expandir-sm .navbar-nav .mostrar.dropdown-menu .dropdown-item:focus {
        color: #212529 !important; 
        font-weight: bold;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #212529 !important; 
        font-weight: bold;
        background-color: #f7f7f7 !important;
    }
} 
@media (max-width: 767px) {
    .navbar-expandir-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #e7daea !important; 
    } 
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus, .navbar-expandir-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #212529 !important; 
        font-weight: bold; 
    }
     .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item. active {
        color: #212529 !important; 
        font-weight: bold;
        background-color: #f7f7f7 !important; 
    }
} 
@media (max-width: 991px) {
    .navbar-expandir-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #e7daea !important;
     }
     .navbar-expandir-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expandir-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #212529 !important; 
        font-weight: bold; 
    }
     .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #212529 !important; 
        font-weight: bold;
        background-color: #f7f7f7 !important; 
    }
} 
@media (max-width: 1199px) {
    .navbar-expandir-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #e7daea !important; 
    } 
    .navbar-expandir-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expandir-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #212529 !important; 
        font-weight: bold; 
    }
     .navbar-expand-xl .navbar-nav .show .dropdown-menu.dropdown-item.active {
        color: #212529 !important; 
        font-weight: bold; 
        background-color: #f7f7f7 !important; 
    }
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e7daea !important; 
}
.navbar-expandir .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expandir .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #212529 !important;
    font-weight: bold; 
}
.navbar-expandir .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #212529 !important; 
    font-weight: bold;
    background-color: #f7f7f7 !important; 
}
.navbar .navbar-brand {
  color: #e7daea !important;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #212529 !important; 
  font-weight: bold;
}
.navbar .navbar-text {
  color: #e7daea !important;
}
.navbar .navbar-text a {
  color: #212529 !important; 
  font-weight: bold;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #212529 !important; 
  font-weight: bold; 
}
.navbar .navbar-nav .nav-link {
  color: #e7daea !important;
  border-radius: .25rem !important;
  margin: 0 0,25 !important;
}
.navbar .navbar-nav .nav-link:not (.disabled):hover,
.navbar .navbar-nav .nav-link:not (.disabled):focus {
  color: #212529 !important; 
  font-weight: bold;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #fff !important;
  /*border-color: #404b83 !important;*/
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #404b83 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #f7f7f7 !important; 
  /*font-weight: bold !important;*/
  background-color: #404b83 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #f7f7f7 !important;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #212529 !important; 
  font-weight: bold;
  background-color: #f7f7f7 !important;
}
.navbar .navbar-toggle {
  border-color: #f7f7f7 !important;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f7f7f7 !important;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #e7daea !important;
}
.navbar .navbar-colapso,
.navbar .navbar-form {
  border-color: #e7daea !important;
}
.navbar .navbar-link {
  color: #e7daea !important;
}
.navbar .navbar-link:hover {
  color: #212529 !important; 
  font-weight: bold;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .mostrar .dropdown-menu .dropdown-item {
    color: #e7daea !important;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #212529 !important; 
    font-weight: bold;
  }
  .navbar-expand-sm .navbar-nav .mostrar .dropdown-menu .dropdown-item.active {
    color: #212529 !important; 
    font-weight: bold;
    background-color: #f7f7f7 !important;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e7daea !important;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #212529 !important; 
    font-weight: bold;
  }
  .navbar-expand-md .navbar-nav .mostrar .dropdown-menu .dropdown-item.active {
    color: #212529 !important; 
    font-weight: bold;
    background-color: #f7f7f7 !important;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .mostrar .dropdown-menu .dropdown-item {
    color: #e7daea !important;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .mostrar .dropdown-menu .dropdown-item:focus {
    color: #212529 !important; 
    font-weight: bold;
  }
  .navbar-expand-lg .navbar-nav .mostrar .dropdown-menu .dropdown-item.active {
    color: #212529 !important; 
    font-weight: bold;
    background-color: #f7f7f7 !important;
  }
}

@media (max-width: 1199px) {
  .navbar-expandir-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e7daea !important;
  }
  .navbar-expandir-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .mostrar .dropdown-menu .dropdown-item:focus {
    color: #212529 !important; 
    font-weight: bold;
  }
  .navbar-expand-xl .navbar-nav .mostrar .dropdown-menu .dropdown-item.active {
    color: #212529 !important; 
    font-weight: bold;
    background-color: #f7f7f7 !important;
  }
}

.navbar-expand .navbar-nav .mostrar .dropdown-menu .dropdown-item {
  color: #e7daea !important;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #404b83 !important; 
  font-weight: bold;
}
.navbar-expand .navbar-nav .mostrar .dropdown-menu .dropdown-item.active {
  color: #212529 !important;
  font-weight: bold;
  background-color: #f7f7f7 !important;
}
.nav-hover:hover{
   background-color: #555299;
   border-radius: 5px;
   cursor: pointer;
}
.alertas-item{
    padding: 0px 10px;
}
#menssage,#alertas{
  background-color: #38c172;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  width: 17px;
  height: 17px;
  font-size: 13px;
  padding-left:4px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu{
    max-height: 200px;
margin: 0;
padding: 0;
list-style: none;
overflow-x: hidden;
}
.img-fundo{
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://materializecss.com/images/office.jpg");
}
.menu-img{
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-modal-link-btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .275rem .75rem;
    font-size: .9rem;
    line-height: 1.1;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.menu-modal-link-perfil{
    color: #fff;
    background-color: transparent;
    background-image: none;
}
.menu-modal-link-perfil:hover{
    color: #404b83;
    background-color: #fff;
    border-color: #404b83;
    text-decoration: none;
}
.menu-modal-lista{
    list-style: none;
    margin-top: 15px;
    margin-left: -40px;
}
.menu-modal-lista .lista-item{
    margin: .775rem .75rem;
}
.menu-modal-lista .lista-item .lista-link{
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    color: #404b83;
    text-decoration: none;
    display: block;
}
.menu-modal-lista .lista-item .lista-link:hover{
    background-color: rgba(0,0,0,.6);
    color: #fff;
    text-decoration: none;
}
.cor-padrao{
    color: #404b83 !important;
}
