<template>
    <a class="nav-link">
        <i class="fas fa-search"></i>
    </a>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>